@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-green-500 focus:border-transparent;
  }
  
  .btn-primary {
    @apply px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition-colors;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-md p-6;
  }
}

.logo {
  width: 80px;             /* Ancho del logo */
  height: 80px;            /* Altura del logo */
  background-image: url('./assets/image/logo.png'); /* URL de la imagen */
  background-size: cover;    /* Ajusta la imagen al contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center;  /* Centra la imagen */
}